[submodule "PowershellModules/BurntToast"]
	path = PowershellModules/BurntToast
	url = https://github.com/Windos/BurntToast
[submodule "GitUtils"]
	path = GitUtils
	url = https://github.com/GennadyGS/gitUtils.git
